
body{background:#0d1620;margin:0;font-family:Arial;color:white}
a{color:white;text-decoration:none}

/* HEADER */
.header{
    background:#000000cc;
    padding:12px 30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:sticky;top:0;z-index:999
}
.logo{font-size:22px;font-weight:bold}
.menu{display:flex;gap:25px;align-items:center}
.menu-item{cursor:pointer;position:relative}
.menu-item.active{color:#c70000}

/* DROPDOWN */
.dropdown{
    position:absolute;top:38px;left:0;
    background:#0f172a;border:1px solid #1e293b;
    width:160px;border-radius:8px;display:none
}
.dropdown a{display:block;padding:10px 14px;font-size:14px}
.dropdown a:hover{background:#c70000}

/* SEARCH */
.search-box{background:white;padding:6px 10px;border-radius:6px;width:320px}
.search-box input{border:none;outline:none;width:100%}

/* GRID */
.container{width:1200px;margin:auto;padding-top:30px}
.movie-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(180px,1fr));gap:30px}
.movie-card{text-align:center}
.movie-card img{width:100%;height:260px;object-fit:cover;border-radius:6px}
.movie-title{margin-top:6px;font-size:14px}
.title-home{text-align:center;font-size:32px;margin-bottom:20px;font-weight:bold}
