body{
  background:#0d1117;
  font-family:Arial;
  color:#fff;
  margin:0
}

/* ===== PLAYER ===== */
.video-wrapper{
  max-width:1280px;
  margin:auto
}
.player-box{
  position:relative;
  width:100%;
  aspect-ratio:16/9;
  border-radius:6px;
  overflow:hidden;
  background:#000;
}

/* ẢNH NỀN */
.poster{
  position:absolute;
  inset:0;
  background:url("https://i.pinimg.com/736x/6a/77/cf/6a77cfe83095b216ddc07611877d6570.jpg")
    center/cover no-repeat;
  z-index:2;
  cursor:pointer;
}

/* NÚT PLAY */
.play-btn{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:90px;
  height:90px;
  background:#c70000;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:3;
  cursor:pointer;
}
.play-btn::before{
  content:"";
  border-style:solid;
  border-width:18px 0 18px 30px;
  border-color:transparent transparent transparent #fff;
  margin-left:5px;
}

/* iframe */
.player-box iframe{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  border:0;
  z-index:1;
  pointer-events:none;
}

/* ===== INFO / DANH SÁCH ===== */
.movie-wrap{
  max-width:1280px;
  margin:25px auto;
  padding:0 10px
}

.ep-groups{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  margin-bottom:15px
}
.group-btn{
  padding:10px 18px;
  background:#1f2937;
  color:#fff;
  border-radius:6px;
  text-decoration:none;
  font-size:14px
}
.group-btn.ep-active{
  background:#c70000
}

.episodes{
  display:flex;
  flex-wrap:wrap;
  gap:10px
}
.episodes a{
  width:90px;
  padding:8px 0;
  text-align:center;
  background:#1f2937;
  color:#fff;
  border-radius:6px;
  text-decoration:none;
  font-size:14px
}
.episodes a.ep-active{
  background:#c70000
}